@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-slate-800;
    font-family: "Cabin", sans-serif;
  }
  .ico-p {
    width: 10rem;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
    filter: grayscale(1) opacity(0.5);
  }
  .ico-c {
    width: 10rem;
    aspect-ratio: 3/2;
    object-fit: contain;
  }
  .nav-item {
    display: inline;
    cursor: pointer;
    text-decoration: none;
  }
  .para {
    @apply text-lg text-slate-700;
  }
  .stat-item {
    @apply text-slate-700 gap-4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .stat-item h2 {
    @apply text-5xl font-bold text-shade3;
  }
  .stat-item p {
    @apply text-xl font-semibold;
  }
}
